/* Reset style */
header {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2520wallpaper%2F&psig=AOvVaw1LU4STJT2I-3uN4u4VfGX_&ust=1712034691749000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCL6YmgoIUDFQAAAAAdAAAAABAE');
    background-size: cover; /* agar gambar mencakup seluruh area header */
    
    padding: 20px;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styling banner */
#banner {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: center;
}

/* Styling about section */
#about {
    padding: 50px;
    background-color: #eaeaea;
}

/* Styling programs section */
#programs {
    padding: 50px;
}

#programs ul {
    list-style-type: none;
}

/* Styling footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
