/* Reset style */
body {
    background-image: url(asset/nature.jpg);
    background-size: cover; /* agar gambar mencakup seluruh area header */
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling header */
header {
    
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styling banner */
#banner {
    
    padding: 50px;
    text-align: center;
    color: white;
}

/* Styling about section */
#about {
    padding: 50px;
    text-align: center;
    color: white;
}

/* Styling programs section */
#programs {
    padding: 50px;
    color: white:
}

#programs ul {
    list-style-type: none;
    text-align: center;
    color: white;
}

/* Styling footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
